# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
coverage/

# Misc
.env.local
.env.*.local
*.log
.DS_Store
.vscode/
.idea/
husky/_/

# Prisma
prisma/dev.db
prisma/migrations/**/logs.txt

# Turbo
.turbo/

# Vitest
*.tsbuildinfo
